<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>Select Option</title>
</head>
<body>

    <div id="app">
        <select v-model='valor'>
            <option value="" v-for="ps in paises" v-bind:value="ps.valor">
                {{ ps.texto }}
            </option>
        </select>
        <span>
            {{ valor }}
        </span>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                valor: '',
                paises: [
                    {texto: 'Colombia', valor: 'colombia'},
                    { texto: 'Mexico', valor: 'Mexico' },
                    { texto: 'Peru', valor: 'Peru' }
                ]
            }

        })
    </script>
    
</body>
</html>